{% extends 'base.html.twig' %}

{% block title %}	Accueil - {{parent()}}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/homepage.css')}}">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

<div class="main-container1">
    <img src="{{ asset('image/bg/green-cabbage-in-garden.jpg')}}" alt="">
    <div class="information">
        <h3>Be Radis</h3>
        <div>
            <p>Je demande à Roger ce qu'il a fait pousser... Et plus qu'à le récupérer !</p>
            <p>Les meilleurs produits issus de nos campagnes,<br>
            livrés dans votre casier de proximité.</p>
        </div>
        <button class="btn btn-primary">Qui est roger?</button>
        <div>
            <span>Comment s'y prendre:</span>
            <ol>
                <li>Je localise mon hub</li>
                <li>Je passe commande avant 16h00</li>
                <li>Je récupère ma commande dans la journée</li>
            </ol>
            <input type="text" name="" id="">
            <a href="">Je géolocalise mon Fwesh-Locker</a>
        </div>
    </div>
</div>

<div class="main-container2">

    <h2>Nos catégories</h2>

    <div class="category-container">

        <div class="category-card fruit-card">
            <h3>Fruits</h3>
        </div>

        <div class="category-card vegetable-card">
            <h3>Légumes</h3>
        </div>

        <div class="category-card fish-card">
            <h3>Poissons</h3>
        </div>

        <div class="category-card meat-card">
            <h3>Viandes</h3>
        </div>
    </div>

</div>

<div class="main-container3">
    <div class="subcontainer3">
        <h3>Nos engagements</h3>
        <ul>
            <li>
                <img src="{{ asset('image/logo/illu-fresh-min.png')}}" alt="">
                <div class="title-container3">
                    <i class="fa-regular fa-snowflake"></i>
                    <h4>Frais</h4>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptatibus dolore blanditiis numquam dolor eligendi? Deserunt, molestiae delectus.</p>
                <ul class="li2">
                    <li>-> Casier réfrigéré</li>
                    <li>-> Produits de saison</li>
                    <li>-> Produits bio et de qualité</li>
                </ul>
            </li>
            <li>
                <img src="{{ asset('image/logo/illu-local-max.png')}}" alt="">
                <div class="title-container3">
                    <i class="fa-solid fa-location-dot"></i>
                    <h4>Local</h4>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptatibus dolore blanditiis numquam dolor eligendi? Deserunt, molestiae delectus.</p>
                <ul class="li2">
                    <li>-> Participation à l'économie locale</li>
                    <li>-> Juste rémunération des producteurs</li>
                    <li>-> Partenariat durable</li>
                </ul>
            </li>
            <li>
                <img src="{{ asset('image/logo/illu-access.png')}}" alt="">
                <div class="title-container3">
                    <i class="fa-solid fa-truck-fast"></i>
                    <h4>Accessible</h4>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptatibus dolore blanditiis numquam dolor eligendi? Deserunt, molestiae delectus.</p>
                <ul class="li2">
                    <li>-> Proximité urbaine</li>
                    <li>-> Réseau étendu de hubs</li>
                    <li>-> 7-77ans</li>
                </ul>
            </li>
        </ul>
        <button class="btn btn-primary">En savoir plus</button>
    </div>
</div>

<div class="main-container4">

    <h2>Nos produits</h2>

    <section class="product-container">
        <button class="btn category-btn">
            <i class="fa-solid fa-carrot"></i>
        </button>
        <article class="product-card">
            <div class="img-container">
                <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                    <a href="">
                        <i class="fa-solid fa-basket-shopping icon1"></i>
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-trash-can"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-plus"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-minus"></i> #}
                    </a>
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="producer">
                        <p>Producteur</p>
                    </div>
                    <div class="produit">
                        <p>Nom produit/article</p>
                    </div>
                </div>
                <div class="prices">
                    <span>00.00€/kg</span>
                    <span>0kg</span>
                    <span>Total</span>
                </div>
            </div>
        </article>
                <article class="product-card">
            <div class="img-container">
                <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                    <a href="">
                        <i class="fa-solid fa-basket-shopping icon1"></i>
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-trash-can"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-plus"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-minus"></i> #}
                    </a>
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="producer">
                        <p>Producteur</p>
                    </div>
                    <div class="produit">
                        <p>Nom produit/article</p>
                    </div>
                </div>
                <div class="prices">
                    <span>00.00€/kg</span>
                    <span>0kg</span>
                    <span>Total</span>
                </div>
            </div>
        </article>
                <article class="product-card">
            <div class="img-container">
                <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                    <a href="">
                        <i class="fa-solid fa-basket-shopping icon1"></i>
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-trash-can"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-plus"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-minus"></i> #}
                    </a>
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="producer">
                        <p>Producteur</p>
                    </div>
                    <div class="produit">
                        <p>Nom produit/article</p>
                    </div>
                </div>
                <div class="prices">
                    <span>00.00€/kg</span>
                    <span>0kg</span>
                    <span>Total</span>
                </div>
            </div>
        </article>
    </section>
</div>
<hr>

<div class="main-container4">

    <section class="product-container">
        <button class="btn category-btn">
            <i class="fa-solid fa-apple-whole"></i>
        </button>
        <article class="product-card">
            <div class="img-container">
                <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                    <a href="">
                        <i class="fa-solid fa-basket-shopping icon1"></i>
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-trash-can"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-plus"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-minus"></i> #}
                    </a>
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="producer">
                        <p>Producteur</p>
                    </div>
                    <div class="produit">
                        <p>Nom produit/article</p>
                    </div>
                </div>
                <div class="prices">
                    <span>00.00€/kg</span>
                    <span>0kg</span>
                    <span>Total</span>
                </div>
            </div>
        </article>
                <article class="product-card">
            <div class="img-container">
                <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                    <a href="">
                        <i class="fa-solid fa-basket-shopping icon1"></i>
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-trash-can"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-plus"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-minus"></i> #}
                    </a>
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="producer">
                        <p>Producteur</p>
                    </div>
                    <div class="produit">
                        <p>Nom produit/article</p>
                    </div>
                </div>
                <div class="prices">
                    <span>00.00€/kg</span>
                    <span>0kg</span>
                    <span>Total</span>
                </div>
            </div>
        </article>
        <article class="product-card">
            <div class="img-container">
                <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                    <a href="">
                        <i class="fa-solid fa-basket-shopping icon1"></i>
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-trash-can"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-plus"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-minus"></i> #}
                    </a>
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="producer">
                        <p>Producteur</p>
                    </div>
                    <div class="produit">
                        <p>Nom produit/article</p>
                    </div>
                </div>
                <div class="prices">
                    <span>00.00€/kg</span>
                    <span>0kg</span>
                    <span>Total</span>
                </div>
            </div>
        </article>
        <article class="product-card">
            <div class="img-container">
                <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                    <a href="">
                        <i class="fa-solid fa-basket-shopping icon1"></i>
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-trash-can"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-plus"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-minus"></i> #}
                    </a>
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="producer">
                        <p>Producteur</p>
                    </div>
                    <div class="produit">
                        <p>Nom produit/article</p>
                    </div>
                </div>
                <div class="prices">
                    <span>00.00€/kg</span>
                    <span>0kg</span>
                    <span>Total</span>
                </div>
            </div>
        </article>
    </section>
    </div>
</div>

<div class="main-container4">

    <section class="product-container">
        <button class="btn category-btn">
            <i class="fa-solid fa-drumstick-bite"></i>
        </button>
        <article class="product-card">
            <div class="img-container">
                <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                    <a href="">
                        <i class="fa-solid fa-basket-shopping icon1"></i>
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-trash-can"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-plus"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-minus"></i> #}
                    </a>
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="producer">
                        <p>Producteur</p>
                    </div>
                    <div class="produit">
                        <p>Nom produit/article</p>
                    </div>
                </div>
                <div class="prices">
                    <span>00.00€/kg</span>
                    <span>0kg</span>
                    <span>Total</span>
                </div>
            </div>
        </article>
                <article class="product-card">
            <div class="img-container">
                <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                    <a href="">
                        <i class="fa-solid fa-basket-shopping icon1"></i>
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-trash-can"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-plus"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-minus"></i> #}
                    </a>
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="producer">
                        <p>Producteur</p>
                    </div>
                    <div class="produit">
                        <p>Nom produit/article</p>
                    </div>
                </div>
                <div class="prices">
                    <span>00.00€/kg</span>
                    <span>0kg</span>
                    <span>Total</span>
                </div>
            </div>
        </article>
        <article class="product-card">
            <div class="img-container">
                <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                    <a href="">
                        <i class="fa-solid fa-basket-shopping icon1"></i>
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-trash-can"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-plus"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-minus"></i> #}
                    </a>
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="producer">
                        <p>Producteur</p>
                    </div>
                    <div class="produit">
                        <p>Nom produit/article</p>
                    </div>
                </div>
                <div class="prices">
                    <span>00.00€/kg</span>
                    <span>0kg</span>
                    <span>Total</span>
                </div>
            </div>
        </article>
        <article class="product-card">
            <div class="img-container">
                <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                    <a href="">
                        <i class="fa-solid fa-basket-shopping icon1"></i>
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-trash-can"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-plus"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-minus"></i> #}
                    </a>
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="producer">
                        <p>Producteur</p>
                    </div>
                    <div class="produit">
                        <p>Nom produit/article</p>
                    </div>
                </div>
                <div class="prices">
                    <span>00.00€/kg</span>
                    <span>0kg</span>
                    <span>Total</span>
                </div>
            </div>
        </article>
    </section>
    </div>
</div>

<div class="main-container4">

    <section class="product-container">
        <button class="btn category-btn">
            <i class="fa-solid fa-fish-fins"></i>
        </button>
        <article class="product-card">
            <div class="img-container">
                <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                    <a href="">
                        <i class="fa-solid fa-basket-shopping icon1"></i>
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-trash-can"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-plus"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-minus"></i> #}
                    </a>
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="producer">
                        <p>Producteur</p>
                    </div>
                    <div class="produit">
                        <p>Nom produit/article</p>
                    </div>
                </div>
                <div class="prices">
                    <span>00.00€/kg</span>
                    <span>0kg</span>
                    <span>Total</span>
                </div>
            </div>
        </article>
                <article class="product-card">
            <div class="img-container">
                <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                    <a href="">
                        <i class="fa-solid fa-basket-shopping icon1"></i>
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-trash-can"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-plus"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-minus"></i> #}
                    </a>
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="producer">
                        <p>Producteur</p>
                    </div>
                    <div class="produit">
                        <p>Nom produit/article</p>
                    </div>
                </div>
                <div class="prices">
                    <span>00.00€/kg</span>
                    <span>0kg</span>
                    <span>Total</span>
                </div>
            </div>
        </article>
        <article class="product-card">
            <div class="img-container">
                <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                    <a href="">
                        <i class="fa-solid fa-basket-shopping icon1"></i>
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-trash-can"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-plus"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-minus"></i> #}
                    </a>
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="producer">
                        <p>Producteur</p>
                    </div>
                    <div class="produit">
                        <p>Nom produit/article</p>
                    </div>
                </div>
                <div class="prices">
                    <span>00.00€/kg</span>
                    <span>0kg</span>
                    <span>Total</span>
                </div>
            </div>
        </article>
        <article class="product-card">
            <div class="img-container">
                <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                    <a href="">
                        <i class="fa-solid fa-basket-shopping icon1"></i>
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-trash-can"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-plus"></i> #}
                    </a>
                    <a href="">
                        {# <i class="fa-solid fa-circle-minus"></i> #}
                    </a>
            </div>
            <div class="description-container">
                <div class="description">
                    <div class="producer">
                        <p>Producteur</p>
                    </div>
                    <div class="produit">
                        <p>Nom produit/article</p>
                    </div>
                </div>
                <div class="prices">
                    <span>00.00€/kg</span>
                    <span>0kg</span>
                    <span>Total</span>
                </div>
            </div>
        </article>
    </section>
    </div>
</div>

<div class="cta">
    <button class="btn">CTA ?</button>
</div>

<div class="main-container5">
    <h2>Votre avis compte pour nous !</h2>
    <div class="comments">
        <div class="notation">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        <div class="comment-title">
            <p>Super concept !</p>
            <span>Il y a 3 jours</span>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, illum. Quae, iste maiores. Quasi id, ex repellendus libero nemo eius obcaecati iste, deleniti fuga a non blanditiis laudantium.</p>
    <span class="username">Véronique</span>
    </div>
    <div class="trustpilot">
        <i class="fa-solid fa-star"></i>
        <p>Trustpilot</p>
    </div>
</div>

{% endblock %}
