{% extends 'base.html.twig' %}

{% block title %}
    Produits - {{ parent()}}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/product/product_list.css')}}">
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}

<h1>NOM / CATEGORIE</h1>
<section class="products-container">
    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                <a href="">
                    <i class="fa-solid fa-basket-shopping icon1"></i>
                </a>
                <a href="">
                    {# <i class="fa-solid fa-trash-can"></i> #}
                </a>
                <a href="">
                    {# <i class="fa-solid fa-circle-plus"></i> #}
                </a>
                <a href="">
                    {# <i class="fa-solid fa-circle-minus"></i> #}
                </a>
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>



    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                <a href="">
                    {# <i class="fa-solid fa-basket-shopping"></i> #}
                </a>
                <a href="">
                    {# <i class="fa-solid fa-trash-can icon2"></i> #}
                </a>
                <a href="">
                    <i class="fa-solid fa-circle-plus icon3"></i>
                </a>
                <a href="">
                    <i class="fa-solid fa-circle-minus icon4"></i>
                </a>
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>


{# Articles à supprimer #}
{# ----------------------------------------------------------- #}
    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                <a href="">
                    <i class="fa-solid fa-trash-can icon2"></i>
                </a>
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                <a href="">
                    <i class="fa-solid fa-trash-can icon2"></i>
                </a>
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
                <a href="">
                    <i class="fa-solid fa-trash-can icon2"></i>
                </a>
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

    <article class="product-card">
        <div class="img-container">
            <img src="{{ asset('image/products/Aubergines 1kg.jpeg')}}" alt="">
        </div>
        <div class="description-container">
            <div class="description">
                <div class="producer">
                    <p>Producteur</p>
                </div>
                <div class="produit">
                    <p>Nom produit/article</p>
                </div>
            </div>
            <div class="prices">
                <span>00.00€/kg</span>
                <span>0kg</span>
                <span>Total</span>
            </div>
        </div>
    </article>

            
{# ----------------------------------------------------------- #}
{# Fin articles à supprimer  #}
</section>

    <div class="pagination">
        <p>1-2</p>
    </div>
    <a href="">
        <i class="fa-solid fa-arrow-up anchor"></i>
    </a>

{% endblock %}
