<header>
    <div class="header-container">

        <div class="burger-container mobile">
                    <button class="nav-toggler" aria-label="toggle curtain navigation"> 
                            <span class="linespan l1"></span>
                            <span class="linespan l2"></span>
                            <span class="linespan l3"></span>
                    </button>
        </div>

        <div class="logo-container">
            <img class="mobile" src="{{asset('image/logo/logo-white-flat-min.png')}}" alt="">
            <img class="desktop" src="{{asset('image/logo/logo-white-lain-max.png')}}" alt="">
        </div>

        <div class="input-search-desk desktop">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Inspecter le potager ...">
        </div>

        <div class="logo-container2">
        <ul>
            <li>
                <i class="fa-solid fa-user user-button"></i>
                <ul class="sub-menu">
                    <li>
                        <a href="">Connexion</a>
                    </li>
                    <li>
                        <a href="">Inscription</a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa-solid fa-basket-shopping"></i>
            </li>
        </ul>
        </div>

    </div>

{# Nav petit écran #}

    <nav class="nav-mobile mobile">
            <div class="input-search-mobile">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Rechercher...">
            </div>
            <ul>
                <li>
                    <a href="{{ path('main_index') }}">Accueil</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="{{ path('product_list') }}">Produits</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="{{ path('main_about')}}">A propos</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="{{ path('main_contact')}}">Contact</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
            </ul>
    </nav>

{# Nav grand écran #}

    <nav class="nav-desk desktop">
        <li>
            <a href="{{ path('main_index') }}">ACCUEIL</a>
        </li>
        <li>
            <a href="{{ path('product_list') }}">PRODUITS</a>
        </li>
        <li>
            <a href="{{ path('main_about')}}">A PROPOS</a>
        </li>
        <li>
            <a href="{{ path('main_contact')}}">CONTACT</a>
        </li>
    </nav>


</header>
