{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/address/address_add.css')}}">
{% endblock  %}

{{ form_start(form) }}

{{ form_widget(form) }}

<div class="btn-container">
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}
